*{
    margin: 0;
    padding: 0;
}

@font-face{ 
    font-family: 'Poppins';
    src: url(../assets/Assets/Fonts/Poppins/Poppins-Light.ttf) format("tiff");
}


.header{
    min-height: 100dvh;
    width: 100%;
    height: 100vh;
    background-image: url(../assets/Assets/Images/homePageHeader.png);
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 20px;
}
.headerContact{
    width: 100%;
    height: 250px;
    background-image: url(../assets/Assets/Images/headerbackBack.png);
    background-position: center;
    background-size: cover;
    position: relative; 
    padding-top: 20px;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.559);
    border-radius: 35px;

    margin-left: 50px;
    margin-right: 50px;

    
}
nav img{
    width: 200px;
    margin-left: 50px;


}

.nav-links{
    flex: 1;
    text-align: center;
    
    
}

.nav-links ul li{
    list-style-type: none;
    display: inline-block;
    padding: 15px;
    margin-top: 10px;
   
} 
.nav-links ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.nav-links a.active{
    color: red;
}

.nav-links input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-right: 16px;
    font-size: 17px;
    margin-top: 20px;
    margin-right: 50px;
    border-radius: 10px;
  }

  
  .textOverlay{
    position: relative;
    text-align: center;
    
  }
.bottomLeft{
    position: absolute;
    bottom: -650px;
    left: 100px;
}

@font-face{ 
    font-family: 'Porter sans Block';
    src: url(../assets/Assets/Fonts/porter_sans_block/porter-sans-inline-block-webfont.woff) format("woff");
}
.bottomLeft p{
    font-family: 'Porter sans Block';
    font-size: 40px;
    color: red;
}    

.bottomCenter{
    position: absolute;
    bottom: -700px;
    left: 100px;
}

.bottomCenter p{
    font-family: 'Porter sans Block';
    font-size: 40px;
    color: red;
}  

.lowerText p{
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 700;
    color: #3c0f55;
}

.lowerText{
    position: absolute;
    bottom: -730px;
    left: 100px;
}

.featuredTrip{
    background-color: #3c0f55;

}


.flexContainer{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    text-align: justify;
    justify-content: center;
    align-items: center;
}


.flexItem1{
    padding: 65px;
}

.flexItem1 h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #fc43bf;
    margin-bottom: 25px;
}

.flexItem1 h2{
    font-family: 'Poppins' static;
    font-weight: bold;
    color: #fcfcfc;
}
.heading1{
    margin-bottom: 50px;
}

.flexItem1 p{
    width: 450px;
    color: #fcfcfc;
    margin-bottom: 50px;
}


 .flexItem1 a{
    font-family: 'Poppins' static;
    font-size: 12px;
    font-weight: bold;
    background-color: #f44336;
    width: 200px;
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    
}


.flexItem2{
    padding: 100px;
}

.flexItem2 h3{
    font-family: 'Poppins' static;
    font-weight: bold;
    color: #fc43bf;
    margin-bottom: 25px;
}

.flexItem2 h2{
    font-family: 'Poppins' static;
    font-weight: bold;
    color:#3c0f55;
}
.heading2{
    margin-bottom: 50px;
}

.flexItem2 p{
    width: 400px;
    color: #343434;
    margin-bottom: 50px;
}

.flexItem3 h3{
    font-family: 'Poppins' static;
    font-weight: bold;
    color: #fc43bf;
    margin-bottom: 25px;
    padding-top: 35px;
    text-align: center;
}

.flexItem3 h2{
    font-family: 'Poppins' static;
    font-weight: bold;
    color:#fcfcfc;
    text-align: center;
    font-size: 30px;
}
.heading3{
    padding-bottom:  50px;
}

@media(max-width:800px){
    .featuredTrip{
        flex-direction: column;
    }
    .flexItem4 img{
        height: auto;
    }
}
.flexItem4{
    padding: 65px;
    
}
.flexItem4 img{
    margin-right: 25px;
}

.flexItem4 h4{
    color: #fcfcfc;
    font-family: 'Poppins' static;
    font-size: 20px;
    margin-right: 40px;
    text-align: center;
}

.flexItem4 p{

    color: #fcfcfc;
    font-family: 'Poppins' static;
    font-size: 16px;
    text-align: center;
    padding: 13px;
    width: 250px;
    padding-left: 20px;
}

.flexItem4 a{
    font-family: 'Poppins' static;
    font-size: 12px;
    font-weight: bold;
    background-color: #f44336;
    width: 200px;
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 825px;
    
}


.flexContainerFooter{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    text-align: justify;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.flexItem5 a img{
    width: 50%;

  
}

.flexItem5{
    padding-left: 100px;
    padding-right: 100px;
}

.flexItem5 a img{
    width: 80px;
    padding-left: 5px;
    padding-right:5px;
}

.flexItem5 h4.footer{
    padding-bottom: 20px;
}

.flexItem5 h4{
    padding-bottom: 20px;
}
li {
    padding-top: 10px;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.footerText{
    width: 200px;
    font-size: 17px;
    color: #5b5b5b;
}

.imgFooter{
    width: 50px;
}
.flexItem5 li a{
    text-decoration: none;
    color: #5b5b5b;
}

.flexItem5 a.imgFooter img{
    width: 250px;
    margin-bottom: 20px;
}

.middle p{
    font-family: 'Porter sans Block';
    font-size:30px;
    color: rgba(255, 255, 255, 0.76);
}    

.contactPage{
    padding-top: 50px;
}

.middleBottom p{
    font-family: 'Porter sans Block';
    font-size: 30px;
    color: rgba(255, 255, 255, 0.76);
}  

.contact1 h2{
    color: #3c0f55;
    margin-bottom: 20px;
}

.contact1 p{
    color: #3434348e;
}

.flexContainer2{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    text-align: justify;
    justify-content: center;
    align-items: center;
}

@media(max-width:800px){
    .flexContainer2{
        flex-direction: column;
    }
    .flexItem6 img{
        height: auto;
    }
}


.flexItem6 a img{
    width: 50px;
    margin-bottom: 20px;
}

.flexContainerFooter{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    text-align: justify;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.flexRight{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 4em;
    margin-right: 300px;
}

.formContainer{
    width: 50%;
    /* max-width: 500px;
    width: 100%;
    margin: 0 auto;
    position: relative; */
}

#contact{
    background-image: url(../assets/Assets/Images/formBack.png);
    background-size: cover;
    background-position: right;
    /* background-color: #f9f9f9; */
    padding: 3em 5em;
    width: 100%;
    margin: 0 100px;
    border-radius: 25px;
}

#contact p{
    color: #fcfcfc;
    font-family: 'Poppins' static;
    font-weight: 400;
    padding: 10px;
}


#contact h3{
    color:#ffffff;
    display: block;
    font-family: 'Poppins' static;
    font-size: 20px;
    font-weight: 400;
    width: 200px;
    margin-bottom: 20px;
}   

#contact input, #contact textarea, #contact button{
    font-family: 'Poppins' static;
    font-size: 14px;
    font-weight: 400;
}

fieldset{
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    width: 100%;
    padding: 0;
}

#contact input, #contact textarea{
    width: 100%;
    border: 1px solid #ccc;
    background-color: #ffffff;
    color: black;
    margin: 0 0 5px;
    padding: 10px;
    border-radius: 15px;
}

::placeholder{
    color: rgb(62, 62, 62);
}

#contact textarea{
    height: 100px;
    width: 100%;
    resize: none;
}

#contact button{
    cursor: pointer;
    width: 100px;
    border: none;
    background-color: #f44336;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
}

.flexContainerBody{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    text-align: justify;
    justify-content: center;
    align-items: center;
    
}


.flexItem6{
    padding: 10px;
    margin-left: 100px;
}

.flexItem6 h3{
    font-family: 'Poppins' static;
    font-weight: bold;
    color: #fc43bf;
    margin-bottom: 25px;
}

.flexItem6 h2{
    font-family: 'Poppins' static;
    font-weight: bold;
    color:#3c0f55;
    padding-bottom: 10px;
}

.flexItem6 h4{
    font-family: 'Poppins' static;
    font-weight: bold;
    color: #fc43bf;
    margin-bottom: 10px;
    padding-top: 35px;
}

.flexItem6 iframe{
    border-radius: 25px;
}

.flexContainerFlights{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    text-align: justify;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins' static;
}

.flexItem7 a{
    font-family: 'Poppins' static;
    font-size: 12px;
    font-weight: bold;
    background-color: #f44336;
    width: 200px;
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin: 35px;
}

.flexItem7 a1{
    font-family: 'Poppins' static;
    font-size: 12px;
    font-weight: bold;
    background-color:#3c0f55;
    width: 200px;
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin: 35px;
}

.flexItem7 p{
    padding: 40px;
    color: #5b5b5b;
}

.flexItem7 h4{
    text-decoration: line-through;
    color: #5b5b5b;
    margin-left: 50px;
    font-size: 20px;
    padding-top: 1em;

}

.flexItem7 h3{
    color: #5b5b5b;
    margin-left: 50px;
    padding-top: 20px;
    font-size: 25px;
}

.flexItem7 h2{
    margin-left: 50px;
    font-family: 'Poppins' static;
    font-size: 35px;
}

.flexItem7 img{
    height: 500px;
    margin: 100px;
}

.flexItem7 hr{
    color: #2f2f2f;
    width: 700px;
    margin-left: 50px;
    margin-top: 4em;
}

.flexItem7 ul{
    color: #5b5b5b;
    padding-top: 50px;
    margin-left: 50px;
}

   

.flexContainerFlights1{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    text-align: justify;
    justify-content: center;
    align-items: center;
    background-color: #3c0f55;
    font-family: 'Poppins' static;
}
.flexItem8 hr{
    color: #2f2f2f;
    width: 700px;
    margin-left: 50px;
    margin-top: 4em;
}

.flexItem8 a{
    font-family: 'Poppins' static;
    font-size: 12px;
    font-weight: bold;
    background-color: #f44336;
    width: 200px;
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin: 35px;
}

.flexItem8 a1{
    font-family: 'Poppins' static;
    font-size: 12px;
    font-weight: bold;
    background-color:#3fabc9;
    width: 200px;
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin: 35px;
}

.flexItem8 p{
    padding: 40px;
    color: #fcfcfc;
}

.flexItem8 h3{
    color:#3fabc9;
    margin-left: 50px;
    padding-top: 20px;
    font-size: 25px;
}

.flexItem8 h2{
    margin-left: 50px;
    font-family: 'Poppins' static;
    font-size: 35px;
    color: #fcfcfc;
}

.flexItem8 img{
    height: 500px;
    margin: 100px;
}



.flexItem8 ul{
    color: #989898;
    padding-top: 50px;
    margin-left: 50px;
}

.flexItem8 a3{
    font-family: 'Poppins' static;
    font-size: 12px;
    font-weight: bold;
    background-color: #f4433685;
    width: 200px;
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 550px;
}